{% extends "layout.html" %}

{% block title %}
    E-mail de parabéns
{% endblock %}

{% block main %}
        <main>
            <section>
            <form action="/email_parabens" method="post">
                <h2 class="outrosH2"> Digite seu nome: </h2>
                <input autocomplete="off" autofocus name="name" placeholder="Nome" type="text">
                <h2 class="outrosH2"> Escolha uma opção: </h2>
                <input type="submit" name="personalizado" value="Enviar e-mail personalizado">
                <input type="submit" name="padrao" value="Enviar e-mail padrão">
            </form>
            <a class="voltar" href="/">Voltar</a>
            </section>
        </main>
{% endblock %}
