{% extends "layout.html" %}

{% block title %}
    Aniversários
{% endblock %}

{% block main %}
        <main>
            <section>

                <h2>Adicionar um aniversário</h2>
                <br>
                <!-- Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">

                <input autocomplete="off" autofocus name="name" placeholder="Nome" type="text">
                <input autocomplete="off" autofocus name="email" placeholder="E-mail" type="text">
                <input autocomplete="off" autofocus name="day" placeholder="Dia" type="number" min="1" step="1" max="31">
                <input autocomplete="off" autofocus name="month" placeholder="Mês" type="number" min="1" step="1" max="12">
                <input type="submit" value="Registrar">

                </form>
            </section>

            <section id="niver">
            </section>

            <section>
    
                <h2>Todos os aniversários</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Loop through the database entries to display them in this table -->
                        {% for row in rows %}
                        {% set day = row.day %}
                        {% set month = row.month %}
                        {% if day < 10 %}
                        {% set day = "0" ~ day %}
                        {% endif %}
                        {% if month < 10 %}
                        {% set month = "0" ~ month %}
                        {% endif %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ day ~ "/" ~ month }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
{% endblock %}
